* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #08090a;
  line-height: 1.5;
  background: var(--color-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --color-bg: #ffffff;
  --color-text: #28224b;
  --color-primary: #35b8be;
  --color-header-bg: #ffffff;
  --color-header-text: #28224b;
}

[data-theme='dark'] {
  --color-bg: #181824;
  --color-text: #f3f3f3;
  --color-primary: #35b8be;
  --color-header-bg: #232336;
  --color-header-text: #f3f3f3;
}